.empower {
  background-image: url(../../Assests/Image/big-bg-logo.png);
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}
.main_empower {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.empower_div {
  width: calc(100% / 2 - 20px);
}
.empower_div2 {
  max-width: 470px;
}
.empower_head {
  color: #f14e9b;
  font-size: 18px;
  line-height: 24px;
}
.empower_heading {
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  margin: 19px 0px;
  font-weight: bold;
}
.empower_para {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 40px;
}
.empower_btn {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background-color: #00a05a;
  padding: 11px 30px;
  border-radius: 3px;
  border: none;
}
@media screen and (max-width: 1080px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 720px) {
  .main_empower {
    flex-direction: column;
    gap: 25px;
  }
  .empower_div {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .empower_heading {
    font-size: 25px;
    line-height: 35px;
  }
}
