.Hero {
  background-color: #00182e;
}
.hero_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hero_div {
  width: calc(100% / 2 - 30px);
}
.hero_bg {
  background-image: url(../../Assests/Image/big-bg-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 30px;
  position: relative;
}
.hero_div .hero_head {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  margin: 20px 0px;
  max-width: 500px;
  word-spacing: 10px;
  color: white;
}
.hero_head span {
  background-image: url(../../Assests/Image/text-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.hero_div p {
  font-size: 20px;
  line-height: 30px;
  color: #a8c7d9;
}
.rect1 {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
  top: 0px;
}
.trang1 {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 100px;
  bottom: 0px;
}
@media screen and (max-width: 1080px) {
  .hero_div .hero_head {
    font-size: 35px;
    line-height: 50px;
  }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 720px) {
  .hero_main {
    flex-direction: column;
    gap: 25px;
  }
  .hero_div {
    width: 100%;
  }
  .hero_bg {
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .trang1 {
    width: 100px;
    height: 70px;
  }
  .rect1 {
    width: 50px;
    height: 50px;
  }
}
