.positive {
  background: transparent linear-gradient(0deg, #ffffff 0%, #f4f4f4 100%) 0% 0%
    no-repeat padding-box;
  padding-top: 100px;
}
.positive_upper {
  max-width: 838px;
  margin: auto;
  text-align: center;
}
.positive_upper h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
}
.positive_upper p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 20px;
}
.positive_lower {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.positive_lower li {
  width: calc(100% / 4 - 12px);
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 50px 10px;
  text-align: center;
}
.positive_lower .active {
  border-bottom: 3px solid #f14e9b;
}
.positive_lower h3 {
  font-size: 30px;
  line-height: 41px;
  font-weight: bold;
  margin: 9px 0px 6px;
}
.positive_lower p {
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
}
@media screen and (max-width: 980px) {
  .positive {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .positive {
    padding-top: 20px;
  }
  .positive_lower li {
    width: calc(100% / 2 - 12px);
  }
}
@media screen and (max-width: 720px) {
  .positive_upper h2 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 550px) {
}
